/*------------------------------------------------------

HOME PAGE STYLES - page-home.php

-------------------------------------------------------*/

/* Portfolio Styles */

.port-row {
  padding-bottom: 15px;
}

.img-overlay {
  position: relative;
  max-width: 660px;

  @media #{$brk-narrow} {
    max-width: 90%;
    margin: 0 auto;
  }
  
}

/* Portfolio Styles */

// .port-row {
//   padding-bottom: 15px;
// }

// .img-overlay {
//   position: relative;
//   max-width: 660px;

//   @media #{$brk-narrow} {
//     max-width: 90%;
//     margin: 0 auto;
//   }
  
// }

// .portfolio-overlay:hover {
//   opacity: 1;
// }

// .portfolio-overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   text-transform: uppercase;
//   color: #2c3446;
//   background: rgba(255, 101, 117, 0.7);
//   background: $light-blue-trans;
//   /*padding: 10%;*/
//   text-align: center;
//   opacity: 0;
//   -webkit-transition: opacity 500ms;
//   -moz-transition: opacity 500ms;
//   -o-transition: opacity 500ms;
//   transition: opacity 500ms;
// }

// .overlay-copy {
//   color: #ffffff;
// }


/* Card Flip */


// .card {
//   width: 100%;
//   height: 320px;
// }

// .back {
//   text-align: center;
//   text-transform: uppercase;
//   background-color: $light-blue;
//   // width: 320px;

//   h5 {
//     line-height: 320px;
//     margin: 0;
//     padding: 0;
//   }

// }



.portfolio-overlay:hover {
  opacity: 1;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  color: #2c3446;
  background: rgba(255, 101, 117, 0.7);
  background: $light-blue-trans;
  /*padding: 10%;*/
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.overlay-copy {
  color: #ffffff;
}

/* About Me */

.about-me {
  background-color: $salmon-red;
  color: $white;

  h2 {
    padding: 25px 0 15px 0;
  }

  &-copy {
    font-size: 1.5em;
    text-align: center;
    padding: 0 0 50px 0;
  }
}