/* FOOTER STYLES */

footer {
  background-color: #4BC3FF;
  background-color: #133140;

}

.social-media {

	ul {
		text-align: center;
		padding: 0;
		margin: 0;
	}

	ul li {
		display: inline-block;
		padding-right: 25px;
	}

}
