/* NAVIGATION */

// nav {
// 	background-color: $dark-blue;
// 	height: 50px;
// }

.nav-wrap {
	position: fixed;
	width: 100%;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
}

.navbar {
	background-color: $white;
	// border: 2px solid $salmon-red;
	display: grid;
	grid-template-columns: 90% 10%;
	// position: fixed;
	padding: 1rem 1.5rem 1rem 1.5rem;
	box-shadow: 0 0 6px rgba(90, 90, 90, 0.7);
	z-index: 3000;
	// left: 20px;
	// top: 20px;

	.nav-brand {
		display: flex;
		align-items: center;

		a {
			&:hover {
				color: $orange;
			}
		}
	}
}

// Mobile menu
.mobile-brand {
	border: 2px solid $white;
	letter-spacing: -2px;
	line-height: 1;
	padding: 7px 7px 3px 7px;
	-webkit-transition: ease-out 200ms;
	-moz-transition: ease-out 200ms;
	-o-transition: ease-out 200ms;
	transition: ease-out 200ms;

	&:hover {
		border: 2px solid $light-blue;
		-webkit-transition: ease-out 200ms;
		-moz-transition: ease-out 200ms;
		-o-transition: ease-out 200ms;
		transition: ease-out 200ms;
	}

}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeout {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

// @keyframes slidedown {

// 	0% {
// 		background-color: grey;
// 	}


// 	100% {
// 		background-color: blue;
// 	}
// }

// @keyframes slideDown{
// 	from {
// 	  transform: translateY(-100%);
// 	  opacity: 0;
// 	}
// 	to {
// 	  transform: translateY(0);
// 	  opacity: 1;
// 	}
//   }

.show {
	display: block !important;
	animation: fadein;
	animation-duration: .5s;
}

.show-menu {
	opacity: 1 !important;
	pointer-events: initial !important;
	transition: 1.5s ease !important;
}

.cpac-menu {
	//display: none;
	//max-height: 20%;
	height: 0%;
	// transform: translateY(-100%);
	transition: .5s ease;
	width: 100%;
	position: fixed;
	top: 73px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	// opacity: 0;
	// transition: .2s ease;
	// background: $light-blue-trans-two;
	background-color: $dark-blue;
	// background-color: $silver;
	// background-color: $grey-two;
	// background-color: $orange;
	text-align: center;

	ul {
		margin-top: 5rem;
		padding-left: 0;
		list-style: none;
		//display: none;
		opacity: 0;
		pointer-events: none;
		transition: .4s ease;

		li {
			margin-bottom: .5rem;

			a {
				color: $light-blue;
				font-size: 2.5em;

				&:hover {
					color: $dark-blue;
					color: $orange;
				}
			}
		}
	}
}

// Menu class to open menu
.cpac-menu.is-open {
	// opacity: 1;
	// z-index: 1000;
	height:100%;
	transition: .5s ease;
	// animation-name: slidedown;
	// animation-duration: 2s;
}

// No Scroll class to prevent scrolling when menu is open
.no-scroll {
	overflow-y: scroll;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.cpac-mobile-menu {
	cursor: pointer;
	padding-top: .7rem;
	float: right;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	z-index: 3000;
	width: 40px;

	&:hover .menu-item {
		background-color: $light-blue;
	}

	.menu-item {
		// background-color: $white;
		//background-color: $salmon-red;
		background-color: $orange;
		display: block;
		height: 3px;
		margin: 0 0 7px;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		// width: 40px;
	}
}

.cpac-mobile-menu.open {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transform-origin: 10px;
	transform-origin: 10px;


	.menu-item {
		background-color: $light-blue;
	}
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: none;
    border-radius: 0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: $dark-blue;
}

.navbar-default .navbar-toggle:hover {
    background-color: $light-blue;
    border: none;
    border-radius: none;
}

.navbar-default .navbar-nav > li > {

  a:hover {
    color: $deep_grey;
    background-color: $light-blue;
  }

}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #e7e7e7;
}

.menu-main-container {
  text-transform: uppercase;
}

.navbar-brand {
	font-size: 1.5rem;
}

.first {
  color: $cotton_red;
	color: $light-blue;
  font-weight: 300;
}

.last {
	color: $deep_grey;
	color: $white;
	font-weight: 700;
}

// Page Headers
.page-title {
	padding: 1rem 0 1rem 0;
	text-align: center;
	// background-color: $light-blue-trans-two;

	h1 {
		// color: $white;
		// color: $light-blue;
		color: $orange;
	}
}
