.navbar {
	display: grid;
	grid-template-columns: 90% 10%;
	padding: 0 2rem 0 2rem;

	.nav-brand {
		display: flex;
		align-items: center;
	}
}

// Mobile menu
.mobile-brand {
	border: 2px solid $white;
	letter-spacing: -2px;
	line-height: 1;
	padding: 7px 7px 3px 7px;
	-webkit-transition: ease-out 200ms;
	-moz-transition: ease-out 200ms;
	-o-transition: ease-out 200ms;
	transition: ease-out 200ms;

	&:hover {
		border: 2px solid $light-blue;
		-webkit-transition: ease-out 200ms;
		-moz-transition: ease-out 200ms;
		-o-transition: ease-out 200ms;
		transition: ease-out 200ms;
	}

}

.cpac-menu {
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 70px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2000;
	background: $light-blue-trans-two;
	background-color: $white;
	text-align: center;

	ul {
		margin-top: 50px;
		padding-left: 0;
		list-style: none;

		li {
			a {
				color: $light-blue;
				font-size: 2.5em;

				&:hover {
					color: $dark-blue;
				}
			}
		}
	}
}

.cpac-mobile-menu {
	cursor: pointer;
	padding-top: .7rem;
	float: right;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

	.menu-item {
		background-color: $dark-blue;
		background-color: #777777;
		background-color: $white;
		background-color: $deep_grey;
		display: block;
		height: 3px;
		margin: 0 0 7px;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		width: 40px;
	}
}

.cpac-mobile-menu.open {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transform-origin: 10px;
	transform-origin: 10px;


	.menu-item {
		background-color: $light-blue;
	}
}

/* NAVIGATION */

nav {
	background-color: $dark-blue;
	height: 50px;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: none;
    border-radius: 0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: $dark-blue;
}

.navbar-default .navbar-toggle:hover {
    background-color: $light-blue;
    border: none;
    border-radius: none;
}

.navbar-default .navbar-nav > li > {

  a:hover {
    color: $deep_grey;
    background-color: $light-blue;
  }

}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #e7e7e7;
}

.menu-main-container {
  text-transform: uppercase;
}

.navbar-brand {
	font-family: 'Dosis', sans-serif;

	&:hover {
		.first {
			color: $light-blue;
		}

		.last {
			color: $white;
		}
	}
}

.first {
  color: $cotton_red;
	color: $light-blue;
  font-weight: 300;
}

.last {
	color: $deep_grey;
	color: $white;
	font-weight: 700;
}

// Page Headers
.page-title {
	padding: 1rem 0 1rem 0;
	background-color: $deep_grey;
	color: $white;
}
