.mfizz-icon i {
  font-size: 5em;
  display: inline-block;
  line-height: 0;
  color: rgb(255, 101, 117);
  -webkit-transition: ease-out 500ms;
  -moz-transition: ease-out 500ms;
  -o-transition: ease-out 500ms;
  transition: ease-out 500ms;
}

.mfizz-icon i:hover {
  color: #4bc3ff;
  -webkit-transition: ease-out 500ms;
  -moz-transition: ease-out 500ms;
  -o-transition: ease-out 500ms;
  transition: ease-out 500ms;
}

.fa {
  color: rgb(255, 101, 117);
  -webkit-transition: ease-out 500ms;
  -moz-transition: ease-out 500ms;
  -o-transition: ease-out 500ms;
  transition: ease-out 500ms;

}

.fa:hover {
  color: #4BC3FF;
  -webkit-transition: ease-out 500ms;
  -moz-transition: ease-out 500ms;
  -o-transition: ease-out 500ms;
  transition: ease-out 500ms;
}