// Descriptive color variables

$white : #ffffff;
$black : #000000;
$grey-two : #dddddd;

// Theme color variables

$light-blue : #4BC3FF;
$light-blue-trans : rgba(75,195,255,0.60);
$light-blue-trans-two : rgba(75,195,255,0.20);
$dark-blue-rgba : rgba(19, 49, 64, 0.95);
$grey : #e8e8e8;
$dark-blue  : #133140;
$salmon-red : #FF6575;
$cotton_red : #c53211;
$khaki : #e6dbc9;
$deep_grey : #2e3830;

// Wedding page colors

$green : #00883a;
$silver: #c5bbbc;

// Media query breakpoints

$brk-wide : '(max-width: 1024px)';
$brk-narrow : '(max-width: 768px)';
$brk-small : '(max-width: 500px)';
$brk-smaller : '(max-width: 320px)';
